body{
    background: rgb(28, 28, 35);
}
.btn{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border: 2px solid white;
    width: 120px;
    height: 100px;
    margin: 20px;
    text-transform: capitalize;
    color: white;
}
.purple{
    background: purple;
}
.blue{
    background: blue;
}
.red{
    background: red;
}
.green{
    background: green;
}


.gap{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
